################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Backend/bin/Debug/net7.0
/Backend/obj
/Frontend/node_modules
/Backend/Properties
*.db
/Backend/bin/Release/net7.0
/Backend/Backend.csproj.user
/Backend/PuzonnsThingsDb.db-shm
/Backend/PuzonnsThingsDb.db-wal
/Frontend/build
*.env
/Backend/.config
