#lobbies table {
  margin-left: auto;
  margin-right: auto;
}

#lobbies tbody tr > td {
  padding: 20px;
}

#lobbies-selector {
  width: 100vw;
}

#lobbies-selector {
  max-width: 500px;
  padding: 20px;
}

.lobby-container_name {
  width: 220px;
  overflow: hidden;
}

#lobbies-create_lobby-btn {
  background-color: #275a28;
  width: 200px;
  height: 40px;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: "Source Sans Pro", sans-serif;
}

#lobbies-selector option {
  color: black;
}

.lobby-container ul {
  text-align: center;
}

.lobby-type {
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ffffff10;
}

.lobby-type span {
  display: inline-block;
  white-space: nowrap;
}

.lobby-container {
  font-size: small;
  width: 50vw;
  height: 70px;
  background-color: #ffffff10;
  border-radius: 10px;
}

#lobbies-selector select {
  text-align: center;
  height: 35px;
  color: white;
  background-color: #ffffff08;
  padding: 10px;
  border: none;
  outline: none;
  width: 200px;
}

.lobby-players {
  height: 90px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lobby-player_avatar-container {
  padding-left: 6px;
}

.lobby-player_avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #275a28;
}

.lobby-players_count {
  padding-left: 6px;
  font-weight: bold;
  font-size: larger;
}

.lobby-players_count-free {
  color: #7fd919;
}

.lobby-players_count-full {
  color: #ff4041;
}

.lobby-join_btn {
  width: 200px;
  height: 40px;
  font-size: 1em;
  font-weight: bold;
  margin: 0px;
  border: 1px solid #77ff9d;
  background-color: #18331f;
}

.lobby-join_full_btn {
  margin: 0px;
  width: 200px;
  height: 40px;
  font-size: 1em;
  font-weight: bold;
  border: 1px solid #6a6d81;
  background-color: #1f1e27;
}

.lobby-join_login_btn {
  width: 200px;
  height: 40px;
  font-size: 1em;
  font-weight: bold;
  margin: 0px;
  border: 1px solid white;
  background-color: #1f1e27;
}

.lobby-join_login_btn a {
  text-decoration: none;
  color: white;
}