@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --text-color: white;
  --bg-color: #16171b;
  --nav-bg-color: #121216;
  --color-red: #dc143c;
  --color-green: #00ff73;
  --color-yellow: #ffbf00;
  --color-blue: #3779bf;
}

html {
  color-scheme: dark light;
}

body {
  font-family: "Wix Madefor Text", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--text-color);
}

html {
  color: var(--text-color);
  background-color: var(--bg-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  max-height: 100%;
  font-family: "Montserrat", sans-serif;
}

nav a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  max-width: 500px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding-right: 10px;
}

nav a:first-child {
  font-size: x-large;
}

a {
  text-decoration: none;
}

nav #nav-login:hover,
a:hover {
  text-decoration: underline;
}

#nav-login {
  font-size: larger;
  margin-right: 10px;
}

.nav-item {
  padding: 10px;
}

@media only screen and (max-device-width: 640px) {
}

@keyframes nav-list-animation {
  from {
    height: 0px;
  }
  to {
    height: 100%;
  }
}

#nav-menu-icon {
  width: 40px;
  height: 40px;
}

#nav-menu-context ul {
  background-color: var(--nav-bg-color);
}

.nav-menu-context-animation {
  animation-name: nav-list-animation;
  animation-name: nav-list-animation;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

#nav-menu-context li {
  padding: 12px;
}

#register-email_info {
  font-size: smaller;
  color: #e0dede;
}

.nav-menu-context-grid {
  display: flex;
  align-items: center;
  justify-content: left;
}

.nav-menu-context-grid a {
  padding-left: 10px;
}

.nav-menu-context-grid img {
  width: 30px;
  height: 30px;
}

header button {
  font-size: 20px;
  padding: 9px 25px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease 0s;
}

header {
  background-color: var(--nav-bg-color);
  max-height: 50px;
}
