@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --text-color: white;
  --bg-color:   #111114;
  --nav-bg-color: #19181e;
  --color-red: #dc143c;
  --color-green: #00ff73;
  --color-yellow: #ffbf00;
  --color-blue: #3779bf;
  --color-grey: #818384;
}

html {
  color-scheme: dark light;
}

body {
  font-family: "Wix Madefor Text", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--text-color);
}

html {
  color: var(--text-color);
  background-color: var(--bg-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: var(--nav-bg-color);
  height: 60px;
  font-family: "Montserrat", sans-serif;
}

.nav-img-icon {
  position: absolute;
  right: 80px;
  top: 4px;
  width: 20px;
  height: 20px;
}

.nav-site_title {
  margin-bottom: auto;
  margin-top: auto;
  padding-left: 20px;
  width: 350px;
}

#register-email_info {
  font-size: smaller;
  color: #e0dede;
}

.nav-nav_item {
  float: left;
  font-size: larger;
  text-decoration: none;
  color: white;
  margin-left: 40px;
}

.nav-nav_item a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.nav-menu-context-container {
  margin-bottom: auto;
  margin-top: auto;
  width: 400px;
}

.nav-nav_item h3:hover {
  cursor: pointer;
}
