.dice-form {
  padding: 10px;
  text-align: center;
}

.dice-form > img {
  width: 40px;
  height: 40px;
  margin: 30px;
}

.yahtzee-container {
  border-collapse: collapse;
}

.yahtzee-container td {
  border-right: solid 1px white;
}

​ .yahtzee-container table tr:last-child {
  border-bottom: none;
}

.yahtzee-container td {
  text-align: center;
  padding: 10px;
}

.roll-btn {
  text-align: center;
}

.point-unsetted {
  color: white;
  cursor: pointer;
}

.point-setted {
  color: grey;
  cursor: unset;
}

img {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.game-end {
  text-align: center;
  color: white;
}
